.container1{
    text-align: center;
}

.fondoAboutUs{
   display: flex;
   justify-content: center;
   margin: 10%;
  
    
}


#texto {
    text-align: left;
    color: white;
    display: flex;
    justify-content: center;
    width: 450px;
}
