.todo{
    display: inline-flex;
    margin-right: 2.5%;
}


.container{
    font-family: 'Poppins', sans-serif;
    font-size: medium;
    border-right: #ffffff;
    padding-right:10px;
    
}
.container2{
    font-family: 'Poppins', sans-serif;
    font-size: medium;
    display: inline-block;
    border-left: #ffffff solid 1px;
    padding-left: 50px;
}
h1{
    color: #2FBF71;
    text-align: center;
}
h4{
    color: #2FBF71;
    text-align: center;
    margin: 30px;
}
hr{
    color: white;
}
.titulo{
    color: #2FBF71;
    text-align: center;
}
.hrTitulo{
    color: #ffffff;
}


#formularioAltas{
    background: none;
    color: rgb(255, 255, 255);
    text-align: left;
    

}
#formularioAltas label{
    background: none;
    margin: 10px;
    font-size: large;
    

}
#formularioAltas input {
    background: none;
    border: 2px solid white;
    border-radius: 9px;
    margin: 10px;
}
#formularioAltas2{
    background: none;
    color: rgb(255, 255, 255);
    text-align: left;
    

}
#formularioAltas2 label{
    background: none;
    margin: 10px;
    font-size: large;
    

}
#formularioAltas2 input {
    background: none;
    border: 2px solid white;
    border-radius: 9px;
    margin: 10px;
    

    
}

#formularioAltasFoto{
    background: none;
    color: rgb(255, 255, 255);
    text-align: left;
    

}
#formularioAltasFoto label{
    background: none;
    margin: 10px;
    font-size: large;

}
#formularioAltasFoto input {
    background: none;
    border: 2px solid white;
    border-radius: 9px;
    margin: 10px;
    height: 35px;
    

    
}


#botonForm{
    color: rgb(0, 0, 0);
    width: 130px;
    border: none;
    border-radius: 9px;
    background-color: #2FBF71;
    transition: transform .2s;
    margin-top: 50px;
    display: list-item;
    margin-left: 46%;
  

    
}
#botonForm:hover{
    transform: scale(1.3);
}
#inp{
    color: #2FBF71;
    transition: transform .2s;
}
#inp:hover{
    transform: scale(1.3);

}
#fotoBici{
    color: #2FBF71;
    transition: transform .2s;
}
#fotoBici:hover{
    transform: scale(1.3);
}
#botonForm3{
    color: rgb(0, 0, 0);
    width: 130px;
    border: none;
    border-radius: 9px;
    background-color: #2FBF71;
    transition: transform .2s;
    margin-top: 50px;
    display: list-item;
    margin-left: 46%;
  
}
#botonForm3:hover{
    transform: scale(1.3);
}
#checkbox{
    background: none;
    color: rgb(255, 255, 255);
    text-align: left;
}