.navbar{
  display:flex;
  justify-content: right;

}
.nav-item {
  color: #e1e1e1;
  font-family: inherit;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
  margin: 1em;
}
.nav-item a{
  text-decoration: none;
  color: white;
  background: none;
}

.nav-item:hover {
  color: #F42C04;
}

.nav-item a:hover {
  color: #F42C04;
}

.nav-item:hover:after {
  width: 100%;
  left: 0%;
}

.nav-item:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #F42C04;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

ul{
  list-style: none;
}